<div class="container">
  <div class="content">
    <div class="col-md-12">
      <div class="card" style="width: 30rem;">
        <!-- <img *ngIf="dataLoaded==true" src="{{carImage.imagePath}}" class="card-img-top" alt="..."> -->

        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div *ngFor="let carImage of carImages;let i = index" class="carousel-item {{ i == 0? 'active' : null }}">
              <img src="https://localhost:44355/{{ carImage.imagePath }}" class="rounded mx-auto d-block w-100" alt="...">
            </div> 
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div *ngFor="let carDto of carDtos" class="card-body">
          <h5 class="card-title">{{ carDto.brandName }}</h5>
          <p class="card-text">Renk: {{ carDto.colorName }}</p>
          <p class="card-text">Günlük Ücret: {{ carDto.dailyPrice }} TL</p>
          
        </div>
        <div class="d-grid mx-auto">
          <div>
            <p>Kiralama Tarihi:</p> <input type="date" [(ngModel)]="rent_date" name ="rent_date">
          </div>
          <br>
          <div>
            <p>İade Tarihi:</p> <input type="date" [(ngModel)]="return_date" name="return_date">
          </div>
        </div>
        <br /><br />
        <div class="d-grid gap-2 col-4 mx-auto">
          <a (click)="checkTheRentButton()" [class]="getRentButtonClassName()"  role="button">Kirala</a>
        </div>
      </div>
    </div>
  </div>
</div>
